.topView {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.backAndQuickViewContainer {
    display: flex;
}

.backContainer {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;

}
.accountViewContainer {
    background-color: white;
    padding: 30px;
    display: flex;
}

.usernameAndEmail {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.email {
    color: grey;
}

.leafCountContainer {
    display: flex;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.leafCount {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.leafImage {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.accountInfoContainer {
    padding: 30px;
    margin-bottom: 2rem;
}

.accountTable {
    width: 100%;
    border-collapse: collapse;
}

.tableContainer {
    width: 100%;
    margin: auto;
}

/* This simply selects every first, second, but not third element in the table*/
.accountTable th:not(:nth-child(3n)), .accountTable td:not(:nth-child(3n)) {
    border: 2px solid grey;
}

.accountTable th:nth-child(3n), .accountTable td:nth-child(3n) {
    width: auto;
}

th, td {
    padding: 5px;
    height: 30px
}

.recentActionsContainer {
    padding: 30px;
}

.recentActionsTable {
    width: 100%;
    border-collapse: collapse;
}

.recentActionsTable th, 
.recentActionsTable td {
    border: 2px solid grey;
    align-items: center;
    text-align: center;
}

.leafCell {
    display: flex;
    justify-content: center;
    align-items: center;
}