body {
    background-color: #F3F4F6;
}

.findContainer {
    background-color: white;
    padding: 20px;
    width: 80%;
    min-width: 290px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    
}

.findSearchContainer {
    width: 60%;
}

.find-account-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
    flex-direction: row;
}

.inputContainer {
    flex: 1;
}

.inputAndLabelContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
}

button {
    font-size: medium !important;
    width: 20%;
    min-width: 100px;
}

.findResultsContainer {
    margin-top: 20px;
    border-left: 1px solid #BBBBBB;
}

.errorMessage {
    color: red;
    padding-top: 20px;
}

.findResultsContainer {
    display: flex;
    justify-content: center;
    width: 40%;
}